<div class="card flex flex-column p-2" *ngIf="project; else loading">
  <app-project-category
    class="category-badge"
    [category]="project.category"
  ></app-project-category>

  <img class="w-full" [src]="getImageUrl()" alt="Something" />

  <div class="text-xl my-3 font-bold">
    {{ project.title }}
  </div>

  <div class="project-description">{{ project.description }}</div>

  <div class="flex justify-content-between gap-2">
    <p-button
      label="View More"
      icon="pi pi-eye"
      (onClick)="viewProjectDetails(project.id)"
    ></p-button>
    <p-button
      label="Vacancies"
      icon="pi pi-users"
      styleClass="p-button-secondary"
    ></p-button>
  </div>
</div>

<ng-template #loading>
  <div class="custom-card">
    <div class="loader">Loading...</div>
  </div>
</ng-template>
