@if (project) {
  <div class="card flex flex-column p-2">
    <app-project-category
      class="category-badge"
      [category]="project.category"
    ></app-project-category>

    <img class="w-full" [src]="project.projectImgUrl" alt="Something" />

    <div class="text-xl my-3 font-bold">{{ title }}</div>

    <div class="project-description">{{ description }}</div>

    <div class="flex justify-content-between mt-auto">
      <p-button
        label="View More"
        icon="pi pi-eye"
        (onClick)="navigateToProject()"
      ></p-button>

      <p-button
        label="Positions"
        icon="pi pi-users"
        styleClass="p-button-secondary"
      ></p-button>
    </div>
  </div>
} @else {
  <div class="custom-card">
    <div class="loader">Loading...</div>
  </div>
}
