.auth-container {
  padding-left: 20rem;
  padding-right: 20rem;
}

.social-button-container {
  p-button {
    width: 100%;
  }

  .p-button.p-button-icon-only {
    width: 100%;
  }
}

.sign-in-button {
  .p-button {
    width: 100%;
  }
}
