@if (state.project.selected() && !this.state.isLoading()) {
  <div class="p-3 flex flex-column gap-3">
    <div class="flex justify-content-between">
      <app-project-line [project]="state.project.selected()!" />
      @if (isUserOwnerOfProject()) {
        <p-button (click)="isShownDialog = true" label="Create position" />

        <app-create-position-dialog
          (createPosition)="createPosition($event)"
          (closedDialog)="isShownDialog = false"
          [isShown]="isShownDialog"
        />
      }
    </div>
    <div class="grid">
      <div class="col-4 flex flex-column row-gap-3">
        <p-card header="Participants">
          <p-scrollPanel [style]="{ width: '100%', height: '50vh' }">
            <div class="flex flex-column gap-2">
              @for (
                participant of state.project.selected()?.participants;
                track $index
              ) {
                <app-project-participant [participant]="participant" />
              }
            </div>
          </p-scrollPanel>
        </p-card>
      </div>
      <p-card class="col-8" header="Positions">
        <p-scrollPanel
          class="h-28rem"
          [style]="{ width: '100%', height: '50vh' }"
        >
          @for (position of state.position.positions(); track $index) {
            <app-position-line [position]="position" />
          }
        </p-scrollPanel>
      </p-card>
    </div>
  </div>
} @else if (!state.isLoading()) {
  <div>Current project not found!</div>
}
