@if (selectedProject() && !isLoading()) {
  <p-card class="p-0">
    <div class="flex column-gap-5 align-items-center">
      <img
        class="block border-round"
        alt="Project"
        [src]="selectedProject()?.projectImgUrl"
      />
      <div class="text-base">{{ selectedProject()?.description }}</div>
    </div>
  </p-card>

  <div class="flex flex-column gap-3">
    <div class="flex justify-content-between">
      <app-create-position-dialog
        (createPosition)="createPosition($event)"
        (closedDialog)="isShownDialog = false"
        [isShown]="isShownDialog"
      />
    </div>
    <div class="grid">
      <div class="col-4 flex flex-column row-gap-3">
        <p-card>
          <ng-template pTemplate="header">
            <div class="p-5 column-gap-5 flex align-items-center">
              <div class="text-xl font-bold">Participants</div>
            </div>
          </ng-template>
          <p-scrollPanel [style]="{ width: '100%', height: '40vh' }">
            <div class="flex flex-column gap-2">
              @for (
                participant of selectedProject()?.participants;
                track $index
              ) {
                <app-project-participant [participant]="participant" />
              }
            </div>
          </p-scrollPanel>
        </p-card>
      </div>
      <p-card class="col-8">
        <ng-template pTemplate="header">
          <div class="p-5 column-gap-5 flex align-items-center">
            <div class="text-xl font-bold">Positions</div>
            @if (isUserOwnerOfProject()) {
              <p-button
                (click)="isShownDialog = true"
                label="Create position"
              />
            }
          </div>
        </ng-template>
        <p-scrollPanel
          class="h-28rem"
          [style]="{ width: '100%', height: '40vh' }"
        >
          @for (position of store.positions(); track $index) {
            <app-position-line [position]="position" />
          }
        </p-scrollPanel>
      </p-card>
    </div>
  </div>
} @else if (!isLoading()) {
  <div>Current project not found!</div>
}
