<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img
      src="../assets/codu-team-icon.png"
      height="60"
      routerLink=""
      class="mr-2"
      alt="Coud team icon"
    />
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex gap-2">
      <ng-container *ngIf="!isLoggedIn">
        <p-button
          label="Log in"
          routerLink="/auth"
          [outlined]="true"
        ></p-button>
        <p-button
          label="Sing Up"
          [outlined]="true"
          severity="secondary"
          routerLink="/auth"
        ></p-button>
      </ng-container>

      <ng-container *ngIf="isLoggedIn">
        <p-button
          label="Log out"
          [outlined]="true"
          (onClick)="logout()"
        ></p-button>
      </ng-container>
    </div>
  </ng-template>
</p-menubar>

<app-create-project-dialog
  [isShown]="isShownCreateProjectDialog"
  (close)="isShownCreateProjectDialog = false"
></app-create-project-dialog>
