<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img
      src="../assets/codu-team-icon.png"
      height="60"
      routerLink=""
      class="mr-2 cursor-pointer"
      alt="Coduteam icon"
    />
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-3">
      <i
        style="font-size: 1.5rem; cursor: pointer"
        (click)="toggleTheme()"
        [ngClass]="isLightTheme() ? 'pi pi-moon' : 'pi pi-sun'"
      ></i>

      <p-avatar
        [image]="profileImg"
        styleClass="mr-2"
        size="normal"
        shape="circle"
        routerLink="/account"
        class="cursor-pointer"
      ></p-avatar>

      @if (isLoggedIn()) {
        <p-button
          label="Log out"
          [outlined]="true"
          (onClick)="logout()"
        ></p-button>
      } @else {
        <p-button
          label="Log in"
          [routerLink]="['/login']"
          [outlined]="true"
        ></p-button>
        <p-button
          label="Sign Up"
          [routerLink]="['/register']"
          [outlined]="true"
          severity="secondary"
        ></p-button>
      }
    </div>
  </ng-template>
</p-menubar>
