<p-menubar [model]="items">
  <ng-template pTemplate="start">
    <img
      src="../assets/codu-team-icon.png"
      height="60"
      routerLink=""
      class="mr-2"
      alt="Coud team icon"
    />
  </ng-template>
  <ng-template pTemplate="end">
    <div class="flex align-items-center gap-3">
      <i
        style="font-size: 1.5rem; cursor: pointer"
        (click)="toggleTheme()"
        [ngClass]="isLightTheme() ? 'pi pi-moon' : 'pi pi-sun'"
      ></i>

      <i
        class="pi pi-user"
        routerLink="/account"
        style="font-size: 1.5rem; cursor: pointer"
      ></i>

      @if (isLoggedIn()) {
        <p-button
          label="Log out"
          [outlined]="true"
          (onClick)="logout()"
        ></p-button>
      } @else {
        <p-button
          label="Log in"
          [routerLink]="['/auth']"
          [outlined]="true"
        ></p-button>
        <p-button
          label="Sign Up"
          [routerLink]="['/auth']"
          [queryParams]="{ type: '1' }"
          [outlined]="true"
          severity="secondary"
        ></p-button>
      }
    </div>
  </ng-template>
</p-menubar>

<app-create-project-dialog
  [isShown]="isShownCreateProjectDialog"
  (closedDialog)="isShownCreateProjectDialog = false"
></app-create-project-dialog>
