.social-button-container {
  p-button {
    width: 100%;
  }

  .p-button.p-button-icon-only {
    width: 100%;
  }
}

.sign-in-button {
  .p-button {
    width: 100%;
  }
}

p-calendar {
  width: 100%;
}

p-dropdown {
  width: 100%;

  .p-inputwrapper {
    width: 100%;
  }
}

p-password {
  div {
    width: 100%;

    input {
      width: 100%;
    }
  }
}
