<div class="surface-card border-round border-1 surface-border">
  <div class="flex p-5">
    <div class="flex column-gap-2 align-items-baseline">
      <div
        (click)="navigateToPositionPage()"
        class="text-xl underline cursor-pointer"
      >
        {{ position.title }}
      </div>
      <div>at</div>
      <div class="underline font-italic mr-2 cursor-pointer">
        {{ position.project.title }}
      </div>
      <img class="block" [height]="20" [src]="position.project.projectImgUrl" />

      @if (position.project.country) {
        <span class="text-sm text-color-secondary">
          <span class="pi pi-map-marker"></span>
          <span>{{ position.project.country }}</span>
        </span>
      }
    </div>

    <div class="ml-auto flex column-gap-2">
      <p-tag [value]="position.positionCategory" />
      <p-tag severity="info" [value]="position.project.category" />
    </div>
  </div>
</div>
