<div class="flex gap-3 pt-5">
  <div class="flex flex-column gap-3">
    <div class="flex p-5 surface-card border-1 border-round surface-border">
      <p-avatar
        image="https://source.unsplash.com/random/200x200"
        styleClass="mr-2"
        size="xlarge"
        shape="circle"
      ></p-avatar>

      <div class="ml-2">
        <div class="font-semibold font-italic">
          <span>{{ state.user.currentUser()?.firstName }} </span>
          <span>{{ state.user.currentUser()?.lastName }}</span>
        </div>
        <div class="text-sm">
          {{ state.user.currentUser()?.title }}
        </div>
      </div>
    </div>

    <div class="flex justify-content-center min-w-max">
      <p-toast></p-toast>
    </div>
  </div>

  <div class="flex flex-column gap-3">
    <p-panel header="My Projects" [toggleable]="true">
      <p-scrollPanel [style]="{ width: '100%', height: '350px' }">
        <div class="flex flex-column gap-3">
          @for (project of state.project.data(); track $index) {
            <app-project-line
              [project]="project"
              [isRemovable]="true"
            ></app-project-line>
          }
        </div>
      </p-scrollPanel>
    </p-panel>

    <p-panel header="My Applications" [toggleable]="true">
      @for (position of state.position.myApplications(); track $index) {
        <app-position-line [position]="position" />
      }
    </p-panel>
  </div>
</div>
