<div class="shadow-2 flex justify-content-between">
  <div class="flex">
    <img [src]="project?.imageScr" alt="Project photo" />
    <div>
      <div>{{ project?.title }}</div>
      <div>{{ project?.category }}</div>
    </div>
  </div>

  <div>
    {{ project?.description }}
  </div>

  <div class="flex flex-column align-content-end">
    <div>
      {{ project?.category }}
    </div>

    <div class="card justify-content-center">
      <p-avatarGroup styleClass="mb-3">
        <p-avatar
          *ngFor="let user of project?.participants"
          [image]="user.imageSrc"
          size="normal"
          shape="circle"
        ></p-avatar>
      </p-avatarGroup>
    </div>
  </div>
</div>
