<div class="shadow-2 flex gap-2 justify-content-between p-3">
  <img class="w-9rem block" [src]="project?.imageScr" alt="Project photo" />

  <div class="w-13rem flex flex-column justify-content-between">
    <div class="font-italic">{{ project?.title }}</div>
    <div class="text-sm">{{ project?.category }}</div>
  </div>

  <div class="w-20rem">
    {{ project?.description }}
  </div>

  <div class="w-9rem flex flex-column align-items-end justify-content-between">
    <div class="underline text-sm">
      {{ project?.category }}
    </div>

    <div class="flex justify-content-end">
      <p-avatarGroup>
        <p-avatar
          *ngFor="let user of project?.participants"
          [image]="user.imageSrc"
          size="normal"
          shape="circle"
        ></p-avatar>
      </p-avatarGroup>
    </div>
  </div>
</div>
