<div
  class="project-line surface-card border-round border-1 surface-border flex justify-content-evenly p-3"
>
  <img class="w-2 block" [src]="project?.projectImgUrl" alt="Project photo" />

  <div class="w-2 flex flex-column justify-content-between">
    <div
      class="font-italic underline cursor-pointer"
      (click)="navigateToProject()"
    >
      {{ title }}
    </div>
    <div class="text-sm">{{ project?.category }}</div>
  </div>

  <div class="w-5">{{ description }}</div>

  <div class="w-2 flex flex-column align-items-end justify-content-between">
    <div class="underline text-sm">
      {{ project?.category }}
    </div>

    <div class="flex justify-content-end">
      <p-avatarGroup>
        @for (user of project?.participants; track $index) {
          <p-avatar
            [image]="user.imageSrc"
            size="normal"
            shape="circle"
          ></p-avatar>
        }
      </p-avatarGroup>
    </div>
  </div>

  @if (isRemovable) {
    <i class="pi pi-trash cursor-pointer" (click)="removeProject()"></i>
  }
</div>
