<div class="card flex justify-content-center">
  <p-dialog
    [resizable]="false"
    [draggable]="false"
    (onHide)="closeDialog()"
    header="Header"
    [(visible)]="isShown"
    [style]="{ width: '50vw' }"
  >
    <ng-template pTemplate="header">
      <span class="text-xl font-bold">Create Position</span>
    </ng-template>

    <form class="p-5 flex gap-4 flex-wrap" [formGroup]="positionForm">
      <div class="p-float-label">
        <input pInputText id="title" formControlName="title" />
        <label for="title">Title</label>
      </div>

      <div class="p-float-label">
        <p-calendar
          appendTo="body"
          id="deadline"
          formControlName="deadline"
        ></p-calendar>
        <label for="deadline">Deadline</label>
      </div>

      <p-dropdown
        formControlName="category"
        [options]="specialities"
        scrollHeight="400px"
        appendTo="body"
        placeholder="Speciality"
        [editable]="true"
      ></p-dropdown>

      <div class="flex align-items-center column-gap-1">
        <p-checkbox value="false" formControlName="isRemote"></p-checkbox>
        <label>Remote</label>
      </div>

      <div class="p-float-label">
        <textarea
          rows="2"
          cols="65"
          pInputTextarea
          id="shortDescription"
          formControlName="shortDescription"
        ></textarea>
        <label for="title">Short description</label>
      </div>

      <div class="p-float-label">
        <textarea
          rows="5"
          cols="65"
          pInputTextarea
          id="description"
          formControlName="description"
        ></textarea>
        <label for="description">Description</label>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <p-button
        (click)="onCreateClick()"
        label="Create"
        styleClass="p-button-text"
        [disabled]="!positionForm.valid"
      ></p-button>
      <p-button
        (click)="closeDialog()"
        label="Cancel"
        severity="secondary"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-dialog>
</div>
