<div class="flex flex-column align-items-center gap-3">
  <div class="text-3xl font-semibold">Please finish account registration</div>

  <form class="flex flex-column gap-2" [formGroup]="finishRegistrationForm">
    <div class="flex gap-2">
      <input
        pInputText
        placeholder="Firstname"
        id="firstName"
        formControlName="firstName"
      />
      <input
        placeholder="Lastname"
        pInputText
        id="lastName"
        formControlName="lastName"
      />
    </div>

    <div class="flex gap-2">
      <p-calendar
        formControlName="date"
        inputId="birth_date"
        placeholder="Birth Date"
      ></p-calendar>

      <p-dropdown
        formControlName="gender"
        [options]="genders"
        optionLabel="name"
        placeholder="Gender"
      ></p-dropdown>
    </div>

    <p-button
      label="Finish"
      [disabled]="!finishRegistrationForm.valid"
      class="sign-in-button w-full"
      [loading]="isLoading()"
      (onClick)="onRegistrationFinish()"
    ></p-button>
  </form>
</div>
