$xl: 1440px; // Extra large screens (monitors)

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh - 2;

  padding-left: 5rem;
  padding-right: 5rem;

  @media (min-width: $xl) {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.content-wrap {
  flex: 1;
}

app-small-footer {
  margin-top: auto;
  height: 60px;
  width: 100%;
}

