.page-container {
  min-height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1; /* This makes the content area grow and take up any available space */
  padding-bottom: 60px; /* Height of the footer */
}

app-small-footer {
  height: 60px; /* Fixed height of your footer */
  width: 100%;
}
