<div class="w-full flex flex-column container">
  <div class="flex justify-content-between">
    <div class="text-xl font-bold">Logo</div>

    <div class="flex gap-5">
      <div class="flex flex-column gap-3" *ngFor="let item of linkItems">
        <div class="text-base font-semibold">{{ item.header }}</div>
        <div class="text-sm" *ngFor="let link of item.items">
          {{ link }}
        </div>
      </div>
    </div>

    <div class="w-4">
      <div class="font-semibold mb-3">Subscribe</div>

      <div class="text-sm mb-3">
        Join our community to stay updated on new projects and opportunities.
      </div>

      <div class="flex mb-2 gap-2">
        <input
          pInputText
          class="w-full"
          pKeyFilter="email"
          placeholder="Enter email address"
        />

        <p-button
          label="Subscribe"
          [outlined]="true"
          severity="secondary"
        ></p-button>
      </div>

      <div class="text-xs">
        By subscribing, you agree to our Privacy Policy and consent to receive
        updates from us.
      </div>
    </div>
  </div>

  <p-divider class="my-2"></p-divider>
</div>
