<div class="p-2 bg-primary-reverse border-round">
  <div class="flex flex-wrap gap-2" [formGroup]="searchForm">
    <app-project-category-dropdown
      class="w-15rem p-fluid"
      formControlName="category"
    />

    <div class="search-block p-input-icon-left p-float-label">
      <i class="pi pi-search"></i>
      <input
        class="w-full"
        type="text"
        pInputText
        formControlName="term"
        id="projectTerm"
      />
      <label htmlFor="projectTerm"
        >Search by Technology, Language, or Topic</label
      >
    </div>
  </div>
</div>
