<div class="mt-3 p-2 border-round-md border-1 border-primary shadow-5">
  <div>
    <span (click)="navigateToPositionPage()" class="underline cursor-pointer">{{
      position.title
    }}</span>
    <span> at </span>
    <span class="font-italic mr-2">{{ position.project.title }}</span>

    <span class="text-sm text-color-secondary">
      <span class="pi pi-map-marker"></span>
      <span>{{ position.project.country }}</span>
    </span>
  </div>

  <div class="flex justify-content-between mt-1">
    <div class="text-sm">{{ position.shortDescription }}</div>

    @if (position.currentUserPositionApplyStatus) {
      <div>{{ position.currentUserPositionApplyStatus }}</div>
    } @else if (isEditable) {
      <p-button (click)="removePosition()" label="Remove"></p-button>
    } @else {
      <p-button (click)="applyOnPosition()" label="Apply"></p-button>
    }
  </div>
</div>
