<div class="flex flex-column align-items-center">
  <div class="flex mt-2 w-full align-items-center justify-content-center">
    <app-projects-filter (onFilterChange)="searchProject($event)" />

    <p-button
      class="ml-2"
      (click)="isShownCreateProjectDialog.set(true)"
      label="Create project"
    />
    <app-create-project-dialog
      [isShown]="isShownCreateProjectDialog()"
      (closedDialog)="isShownCreateProjectDialog.set(false)"
      (createProject)="createProject($event)"
    ></app-create-project-dialog>
  </div>

  @if (projects().length > 0) {
    <div
      class="overflow-y-auto p-2 h-40rem flex flex-column gap-2"
      appInfiniteScroll
      (scrolled)="loadMoreItems()"
    >
      @for (project of projects(); track $index) {
        <app-project-line [project]="project"></app-project-line>
      }
    </div>
  } @else if (isLoading()) {
    <div class="flex flex-column gap-2 mt-1">
      @for (item of [1, 2, 3, 4, 5]; track $index) {
        <app-project-line-skeleton />
      }
    </div>
  } @else {
    <app-projects-not-found />
  }
</div>
