.projects-container {
  height: 40rem;
  overflow-y: scroll;
}

@media screen and (min-width: 992px) {
  .projects-container {
    height: 40rem;
  }
}

@media screen and (min-width: 1200px) {
  .projects-container {
    height: 50rem;
  }
}
