<div class="flex align-items-center justify-content-between">
  <p-avatar
    [image]="applicant.imageSrc"
    styleClass="mr-2"
    size="normal"
    shape="square"
  ></p-avatar>

  <div>
    <div class="font-semibold font-italic">
      <span>{{ applicant.firstName }} </span>
      <span>{{ applicant.lastName }}</span>
    </div>
    <div class="text-sm">
      {{ applicant.title }}
    </div>
  </div>

  <p-tag
    [severity]="positionApplyStatusTags[applicant.status]"
    [value]="applicant.status"
  ></p-tag>

  @if (items.length !== 0) {
    <div>
      <p-toast></p-toast>
      <p-menu appendTo="body" #menu [model]="items" [popup]="true"></p-menu>
      <div
        (click)="menu.toggle($event)"
        class="pi pi-bars cursor-pointer"
      ></div>
    </div>
  }
</div>
