<div class="flex mt-2 w-full align-items-center justify-content-center">
  <app-projects-filter />

  <p-toggleButton
    [(ngModel)]="isCardView"
    onIcon="pi pi-th-large"
    offIcon="pi pi-bars"
  ></p-toggleButton>
</div>

<div class="projects-container" (scroll)="onScroll($event)">
  @if (projectState.projects()) {
    <div class="flex gap-5 flex-wrap justify-content-center py-5">
      @if (isCardView) {
        @for (project of projectState.projects(); track $index) {
          <app-project-card [project]="project"></app-project-card>
        }
      } @else {
        @for (project of projectState.projects(); track $index) {
          <app-project-line [project]="project"></app-project-line>
        }
      }
    </div>
  }

  @if (projectState.isLoading()) {
    <div class="flex justify-content-center">
      <p-skeleton width="54rem" height="6rem"></p-skeleton>
    </div>
  }
</div>
