<div class="flex mt-5 w-full align-items-center justify-content-evenly">
  <app-projects-filter />

  <p-toggleButton
    [(ngModel)]="isCardView"
    onIcon="pi pi-th-large"
    offIcon="pi pi-bars"
  ></p-toggleButton>
</div>

@if (projects$ | async; as projects) {
  <div class="flex gap-5 flex-wrap justify-content-center py-5">
    @if (isCardView) {
      @for (project of projects; track $index) {
        <app-project-card [project]="project"></app-project-card>
      }
    } @else {
      @for (project of projects; track $index) {
        <app-project-line [project]="project"></app-project-line>
      }
    }
  </div>

  <div class="card flex justify-content-center">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="rows"
      [totalRecords]="120"
      [rowsPerPageOptions]="[9, 18, 36]"
    ></p-paginator>
  </div>
}
