<div class="container">
  <div class="grid my-7">
    <div class="text-5xl font-semibold col">
      Find exciting projects or team members here
    </div>

    <div class="flex flex-column col justify-content-between">
      <div class="text-md">
        Join our platform to connect with other junior developers and
        collaborate on projects that interest you.
      </div>

      <ng-container [ngTemplateOutlet]="actionButtons"></ng-container>
    </div>
  </div>

  <div class="p-10 mb-7 flex justify-content-center">
    <img class="main-image" src="/assets/codu_team_backgound.png" />
  </div>

  <div class="flex flex-column justify-content-start">
    <div class="text-sm mb-3">Discover</div>

    <div class="text-5xl font-semibold w-7 mb-3">
      Create Projects, Join Teams, Develop Skills
    </div>

    <div class="text-base w-7 line-height-3 mb-6">
      Our platform offers a range of features designed to help junior developers
      find exciting projects to work on, connect with like-minded individuals to
      form teams, and enhance their skills through collaborative learning.
    </div>

    <div class="flex justify-content-between gap-5 mb-5">
      <div *ngFor="let item of opportunities">
        <img [src]="getImageScr(item)" class="w-full" />
        <div class="font-semibold text-3xl mt-4 mb-2">{{ item.title }}</div>
        <div class="text-sm">{{ item.description }}</div>
      </div>
    </div>

    <ng-container [ngTemplateOutlet]="actionButtons"></ng-container>
  </div>

  <div class="grid mt-7 gap-5">
    <div class="col">
      <div class="flex flex-column justify-content-start">
        <div class="text-sm mb-3">Discover</div>

        <div class="text-5xl font-semibold mb-3">
          Unlock Opportunities and Grow Your Skills
        </div>

        <div class="text-base line-height-3">
          Our platform connects junior developers with exciting projects,
          helping them network, gain valuable experience, and build an
          impressive portfolio.
        </div>

        <div class="flex gap-5 my-7">
          <div *ngFor="let item of skills">
            <i class="pi pi-box text-5xl"></i>
            <div class="font-semibold text-3xl mb-2">{{ item.title }}</div>
            <div class="text-sm">{{ item.description }}</div>
          </div>
        </div>

        <ng-container [ngTemplateOutlet]="actionButtons"></ng-container>
      </div>
    </div>

    <div class="col">
      <img class="block w-full h-full" src="/assets/grow_skills.png" />
    </div>
  </div>
</div>

<ng-template #actionButtons>
  <div class="flex justify-content-start gap-2">
    <p-button
      label="Get Started"
      [outlined]="true"
      (onClick)="navigateToAuth()"
    />
    <p-button
      label="Learn More"
      [outlined]="true"
      severity="secondary"
      (onClick)="navigateToAuth()"
    />
  </div>
</ng-template>
