<div class="grid pt-3">
  <div class="col">
    <img class="block w-full" src="../assets/auth.png" alt="Auth picture" />
  </div>

  <div class="col">
    @if (state.user.isActivation()) {
      <app-activation
        [isLoading]="state.user.isActivation"
        (onUserActivation)="activateUser($event)"
      ></app-activation>
    } @else {
      <div class="text-5xl font-semibold">Register to CoduTeam</div>

      <div class="flex align-items-center justify-content-evenly">
        <div>Register with social account or enter your details</div>
        <p-button icon="pi pi-google" [outlined]="true"></p-button>
        <p-button icon="pi pi-facebook" [outlined]="true"></p-button>
        <p-button icon="pi pi-apple" [outlined]="true"></p-button>
      </div>

      <form [formGroup]="authForm" (keyup.enter)="onSubmit()">
        <div class="flex flex-column gap-2 my-3">
          <label htmlFor="email">Email Address</label>
          <input
            pInputText
            placeholder="example@gmail.com"
            formControlName="email"
            id="email"
          />
        </div>

        <div class="flex flex-column gap-2 my-3">
          <p-password
            class="p-fluid"
            [toggleMask]="true"
            placeholder="******"
            formControlName="password"
            [feedback]="true"
          >
            <ng-template pTemplate="header">
              <h6>Pick a password</h6>
            </ng-template>
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="mt-2">Suggestions</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                <li>At least one lowercase</li>
                <li>At least one uppercase</li>
                <li>At least one numeric</li>
                <li>Minimum 8 characters</li>
              </ul>
            </ng-template>
          </p-password>
        </div>

        <p-button
          [disabled]="!authForm.valid"
          class="sign-in-button p-fluid"
          [loading]="state.user.isLoading()"
          (onClick)="onSubmit()"
        >
          Register
        </p-button>

        @if (registerErrorMessages()) {
          <p-messages
            [value]="registerErrorMessages()"
            [closable]="true"
          ></p-messages>
        }
      </form>

      <div class="flex justify-content-between text-sm mt-5">
        <div class="underline cursor-pointer">Forgot Password</div>
        <div>
          Don't have an account?
          <span class="underline cursor-pointer" (click)="redirectToLogin()">
            Login
          </span>
        </div>
      </div>
    }
  </div>
</div>
