.chat-window{
    position: fixed; /* Fixed positioning so it stays in the viewport */
    top: 50%; /* Position from the top */
    left: 50%; /* Position from the left */
    transform: translate(-50%, -50%); /* Move the element back by half of its width and height */
    width: 1000px; 
    height: 500px; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    z-index: 9999;
}
    .messages-container{
        padding: 0px;
        margin-top: 450px;
        .message{
            margin-bottom: 50px;
            .username{
                font-weight: bold;
            }
        }
    }

    .input-container{
        display: flex;
        padding: 10px;
        input{
            flex:1;
            margin-right: 10px;
        }
        button{
            padding: 5px 10px;
            cursor: pointer;
        }
    }
    